.conteiner{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    .location{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .info{
            font-size: 25px;
            color: rgb(236, 174, 174);
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
    }
    .shop{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .customer{
        display: flex;
        flex-direction: column;
        gap: 5px
    }
}